body, html {
    height: 100%;
    margin: 0;
}
body { 
    background: url(picture/backgroundSea.jpg) ;

    background-repeat: no-repeat;
    background-size: 100% 100%;
  }*
img {
    width: 1.5vw;
    height: vh;
}
h1, h3 {
    text-align: center; 
}
div {
    margin: 10px;
}
#gamePlaying {
    display: none;
}
#game-over-message {
    display: block;
}
.start {
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20% ;
    grid-template-rows: 50% 50%;
}
.header {
    
    grid-column-start: 1;
    grid-column-end: span 5;
}
.spongebobButton {
    grid-column: 2;
    grid-row: 3;
}
.patrickButton {
    grid-column: 4;
    grid-row: 3;

}
.spongebobButton img:hover , .patrickButton img:hover {
    background-color: rgb(10, 107, 185);
    transform: scale(1.50)
}
/*.main-containner {
    
    background-image: url(picture/backgroundSea.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/
.header,#banner {
    text-align: center;

}
#score {
    display: flex;
    justify-content: space-around;

}

#playing {
    display: flex;
    justify-content:space-around;
}
#playing div {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
}

#player_side {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#endGame {
    position:absolute;
    bottom: 5%;
    right:20%;
}
#button {

    position:absolute;
    bottom: 5%;
    left:10%;
}
#rock, #paper, #scissors, #opponent_rock, #opponent_paper, #opponent_scissors {
    display: none;
    width: 15vw;
}
#imgSpngebob, #imgPatrick {
    width: 10vw;
}
li {
    font-size: 20px;
    text-align: center; 
    list-style-type:none
}
#gamePlaying div {
    border: 1px solid red;
}